# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/

# Django / DB
db.sqlite3
*.sqlite3

# Env / Logs
.env
*.log

# Collected static / uploads
staticfiles/
media/

# IDE
.vscode/
.idea/
